.dropdown-wrapper {
    margin: 5vh 0;
}

.dropdown {
    border: none;
    background-color: #FF6060;
    color: white;
    padding: 2vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.3vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown .fa-angle-up, .fa-angle-down {
    font-size: 3vh;
}

.dropdown-text {
    background-color: #F6F6F6;
    border-radius: 7px;
    padding: 4vh;
}