.card {
    position: relative;
    background:
    linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background-color: #FF6060;
    border-radius: 2vh;
    height: 50vh;
    width: 50vh;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    z-index: 0;
}

.card-title {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: 600;
    font-size: 2.3vh;
    padding: 3vh;
}

.card-cover {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(4, 4, 4, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
    );
}