.header {
    margin: 4vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height : 6vh;
}

.nav-items {
    display: flex;
    gap: 5vw;
}

a {
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
}

.nav-active {
    text-decoration: underline;
    color: black;
}