.error-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
}

.error {
    margin-bottom: 6vh;
    font-size: 27vh;
    color: #FF6060;
    font-weight: 600;
}

.error-text {
    margin-bottom: 5vh;
    font-size: 4vh;
    color: #FF6060;
    font-weight: 500;
}

.error-link {
    margin: 7vh;
    font-size: 1.75vh;
    font-weight: 500;
    text-decoration: underline;
}