.footer {
    padding-top: 5vh;
    gap: 3vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    height: 4vh;
}

.footer p {
    padding-top: 2vh;
    padding-bottom: 2.6vh;
}