.banner {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 3vh;
    color: white;
    font-size: 5vh;
    font-weight: bold;
    z-index: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.banner-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(50%);
}